<!--  Layout template -->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>SkillTrack Academy Dashboard</h1>

    <!-- dynamic content -->
    <%- body %>
</body>
</html>

